.creative {
  margin-bottom: 50px;
  height: 900px;
  padding-top: 180px;
  padding-left: 130px;
  background-repeat: no-repeat;
  background-position: 90% 100px, 90% 300px;
  background-size: 540px 730px, 550px 530px;
  background-image: url(../../../images/Creative.png),
    url(../../../images/yellow.png);
}
