.social {
  display: flex;
  gap: 25px;
  align-items: center;
}

.social__item {
  width: 33px;
}

.icon {
  transition: transform 250ms ease-in;
  &:hover {
    transform: scale(1.4) rotate(360deg);
  }
}
